.char-button{
  background: #7077A1;
  color: var(--yellowColor);
  display: inline-block;
  margin: 0;
  width: 5vw;
  height: 5vw;
  vertical-align: middle;
  text-align: center;
  line-height: 0vw;
  border-radius: 15%;
  border:0;
  cursor: pointer;
  transition: background 0.2s ease, transform 0.2s ease;
}

.char-button:hover {
  background: #4957a7;
  transform: scale(1.05);
  box-shadow: 0px 5px 10px var(--boxGlowColor);
}
  

.describe{
  padding: 0 5% 3% 5%;
}

.charbox{
  display: flex;
  justify-content: center;
  margin-bottom: 5%;
}

.character{
  display: grid;
  place-items: center;
  grid-gap: 2vw ;
  grid-template-areas: 'myArea myArea . . . . . . .  .';
  margin: 0 5%;
}

.character > div {
  text-align: center;
}

.describe h1{
  font-size: 40px;
  color:#ffffff
}

.describe h2{
  font-size: 20px;
  color:#ffffff
}

.describe h3{
  font-size: 30px;
}

