body {
    background-color: #92a8d1;
}

.card {
    margin-left: 70px;
    width: 200px;
    height: 250px;
    border-style: outset;
    background-color: white;
    margin-bottom: 40px;
}

#cards {
    display: flex;
    flex-wrap: wrap;
}

.card-body {
    margin-left: 10px;
    font-size: 17px;
    text-align: left;
    padding-bottom: 10px;
}

.cardImage {
    height: 200px;
    width: 200px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2), 0 4px 10px 0 rgba(0, 0, 0, 0.19);
}
